.mainLogin {
  //   background: red;
  height: 100vh;
  background: #b6c5ff23;
  background-image: url(../../assets/Sprinkle_03.svg);
  .container {
    padding: 0px 70px;

    @media (max-width: 768px) {
      padding: 0px 20px;
    }
    .navbar {
      //   background: red;
      display: flex;
      justify-content: space-between;
      padding: 10px 0px;
      position: relative;

      @media (max-width: 550px) {
        flex-direction: column; // Stack elements vertically on smaller screens
        align-items: center;
        padding: 30px 0px;
      }
      .login {
        button {
          padding: 7px 25px;
          background: #394dffe8;
          border: none;
          color: #fff;
          box-shadow: 1px 1px 3px #777;
        }
        :active {
          transform: translateY(1px);
          box-shadow: 1px 1px 2px #777;
        }
      }
      .loginForm {
        background: rgba(55, 0, 255, 0.075);
        background-image: url(../../assets/Wave.svg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 230px;
        height: 300px;
        right: 0;
        top: 70px;
        overflow: hidden;
        transition: all 0.5s;
        box-shadow: 0px 5px 10px 5px #7777776c;
        backdrop-filter: blur(20px);
        @media (max-width: 550px) {
          margin-top: 40px;
        }

        .loginContent {
          z-index: 99;
          display: flex;
          // flex-direction: column;
          .twoCards {
            z-index: 9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            // padding: 30px;

            h1 {
              font-size: 40px;
            }
            input {
              border: none;
              border-bottom: 1px solid #333;
              background: transparent;
            }
            input:focus {
              outline: none;
            }
            input::placeholder {
              color: #020c69e8;
            }
            button {
              padding: 7px 25px;
              background: #394dffe8;
              border: none;
              color: #fff;
              box-shadow: 1px 1px 10px 2px #7c7777c2;
              cursor: pointer;
              &:active {
                box-shadow: 1px 1px 10px 2px #7c777749;
              }
            }

            p {
              color: #333;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .push {
            margin-left: 230px;
            width: 230px;
            // background-color: blue;
          }
          .dis-none {
            width: 230px;
            // background-color: red;
            // display: none;
            transition: all 1s;
            z-index: 9;
          }

          .margin {
            margin-right: 460px;
          }
        }
      }

      .slideDown {
        height: 0px;
        box-shadow: none;
      }
    }

    .home {
      height: calc(100vh - 70px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 887px) {
        display: flex;
        flex-direction: column;
      }
      .left {
        // background: #999;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 887px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 60px;
        }
        h1 {
          font-size: 60px;
          color: #222;
          @media (max-width: 887px) {
            text-align: center;
          }
        }
        h2 {
          color: #394dffe8;
          @media (max-width: 887px) {
            text-align: center;
            margin-top: 5px;
          }
        }
        p {
          color: #555;
          @media (max-width: 887px) {
            margin-top: 10px;
            text-align: center;
          }
        }
      }
      .right {
        .girl {
          width: 350px;
          height: 350px;
          background-image: url(../../assets/girl_laptop.svg);
          //   background: red;
          background-position: 10% 0%;
          background-size: cover;
        }
      }
    }

    .newsSection {
      .newsTitleSection {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 887px) {
          text-align: center;
        }
        h1 {
          font-size: 50px;
          color: #222;
        }
        p {
          color: #555;
        }
      }
      .newsBody {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 20px 0px;
        @media (max-width: 1160px) {
          grid-template-columns: 1fr;
          text-align: center;
        }
        .cards {
          padding: 0 90px;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media (max-width: 812px) {
            padding: 0 30px;
          }

          .card {
            padding: 30px;
            margin-bottom: 70px;
            width: 100%;
            border: 1px solid gray;
            box-shadow: 0px 0px 50px 2px rgb(229, 226, 226);
            h3 {
              font-size: 12px;
              margin-top: 20px;
              color: #394dffe8;
              text-decoration: underline;
            }
          }
        }

        .sideTable {
          //   background-color: red;

          table {
            border-collapse: collapse;
            width: 100%;
          }

          th,
          td {
            border: 1px solid #ddd;
            padding: 8px 10px;
            text-align: left;
          }

          th {
            background-color: #f2f2f2;
            padding: 8px 60px;
          }

          tr:hover {
            background-color: #f5f5f5;
          }
        }

        p {
          margin-top: 30px;
        }
      }
    }
  }
}
