.editorContainer {
  height: 300px;
  padding: 0 50px 40px 50px;
}
.editor {
  height: 100%;
  border: none;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.titleContainer .title {
  color: #555;
}

.buttonContainer {
  margin: 40px 50px;
  display: flex;
  justify-content: flex-end;
}

.successMessage {
  display: flex;
  align-items: center;
  /* background: red; */
  gap: 20px;
}

.successMessage h3 {
  color: rgba(0, 128, 0, 0.925);
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(0, 128, 0, 0.11);
  /* display: none; */
}

.successMessage p {
  font-size: 14px;
  color: green;
  background-color: rgba(0, 128, 0, 0.11);
  cursor: pointer;
}

.successMessage p:hover {
  text-decoration: underline;
}

.buttonContainer button {
  padding: 5px 15px;
  background: #394dffe8;
  border: none;
  color: #fff;
  box-shadow: 2px 2px 3px #444;
}

.buttonContainer button:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 3px #444;
}
